<strong>Olá, {{student}}</strong>
<p>A sua matrícula na Gympoint foi realizada, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{plan}} <br/>
  <strong>Preço mensal: R$</strong> {{monthPrice}} <br/>
  <strong>Preço total: R$</strong> {{totalPrice}} <br/>
  <strong>Data de inicio: </strong> {{startDate}} <br/>
  <strong>Data de término: </strong> {{endDate}} <br/>
  </br>
</p>
